.container {
    padding: 1.25rem;
    border: 1px solid #00000040;
    width: 17.5rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;

    .icon {
        margin-right: 1.25rem;
        font-size: 2.5rem;
    }

    .content {
        padding-left: 1.25rem;
        border-left: 1px solid #00000040;

        h4 {
          font-size: 1rem;
          font-weight: 800; 
          line-height: 1.3rem;
        }
        p{
            font-size: .625rem;
            font-weight: 300;
            line-height: 1rem;
        }
    }
}