.container {
    width: 100%;
    padding: 5rem;

    .textContainer {

        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;

        h2 {
            font-size: 1.875rem;
            font-weight: 800;
        }
    
        .borderText {
            width: 5rem;
            height: .4rem;
            background-color: #000;
            margin-top: .6rem;
            margin-bottom: 5.8rem;
        }
    }
    
    .projectsContainer {
        width: 100%;
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(2, 1fr);
    }
}